./spyproject
/visualizer/venv
/visualizer/models
/visualizer/data
/visualizer/heatmaps
/visualizer/activations
/visualizer/src/heatmaps
/visualizer/src/activations
/visualizer/src/widgets/heatmaps
/visualizer/src/widgets/activations