QWidget {
    background-color: #12ADC1;
}

QLabel {
    color: #ffffff;
}

QLabel#nav {
    color: #fdd037;
    font-weight: 700;
    font-size: 25px;
}

QLabel#head-text {
    color: #fdd037;
    font-weight: 700;
}

QPushButton#button-load {
    background-color: #0295A9;
    border-radius: 8px;
}

QPushButton#button-load:hover {
    border: 1px solid #000000;
}

